<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <style>
        body { font-family: Arial; text-align: center; }
        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>

<h2>Teacher Dashboard</h2>

<p>Attendance Status:
<strong>{{ status }}</strong>
</p>

<form action="/start_attendance" method="POST">
    <button type="submit">Start Attendance</button>
</form>

<form action="/stop_attendance" method="POST">
    <button type="submit">Stop Attendance</button>
</form>

<hr>

<h3>Add New Student</h3>

<form action="/add_student" method="GET">
    <button type="submit">Add Student</button>
</form>

<form action="/train_model" method="POST">
    <button type="submit">Train Model</button>
</form>


<a href="/logout">Logout</a>

</body>
</html>
